@use '../../styles/partials/variables';
@use '../../styles/partials/mixins';

.tools {
  display: flex;

  &__sort {
    display: flex;
    align-items: center;
  }

  &__searchForm {
    position: relative;
    margin-right: 16px;

    svg {
      position: absolute;
      left: 14px;
      top: 11px;
    }
  }

  &__input {
    @include mixins.dashboard-font(12px, 500, 140%);
    width: 236px;
    height: 38px;
    padding: 11px 11px 11px 40px;
    border-radius: 6px;
    border: 1px solid variables.$medium-border-color;
    background: variables.$white-color;
    outline: none;
    color: variables.$black-color;

    &::placeholder {
      @include mixins.dashboard-font(12px, 500, 140%);
      color: variables.$text-light-color;
    }
  }
}

.select {
  @include mixins.dashboard-font(14px, 500, 24px);
  width: 140px;
  height: 38px;
  color: variables.$text-medium-color;
  outline: none;
  margin-right: 16px;

  &__label {
    @include mixins.dashboard-font(14px, 500, 24px);
    color: variables.$label-color;
    margin-right: 16px;
  }
}
