@use '../../styles/partials/variables';
@use '../../styles/partials/mixins';

.row {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  min-height: 56px;
  background: variables.$white-color;
  border-radius: 6px;
  box-shadow: 0px 4px 20px 0px variables.$shadow-color;
  margin-bottom: 8px;

  &__cell {
    @include mixins.dashboard-font(16px, 700, 24px);
    color: variables.$text-dark-color;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__image {
    display: block;
    width: 40px;
    height: 40px;
    background-size: cover;
    border-radius: 40px;
  }

  &__button {
    background: none;
    border: none;
    cursor: pointer;

    &:hover path {
      fill: variables.$bright-color;
    }
  }
}
