@use '../../styles/partials/variables';
@use '../../styles/partials/mixins';

.link {
  @include mixins.auth-font(16px, 500, 24px);
  display: block;
  width: 100%;
  max-width: 376px;
  padding: 15.2px;
  text-align: center;
  letter-spacing: -0.32px;
  font-feature-settings: 'salt' on;
  text-decoration: none;

  &:not(:last-child) {
    margin-bottom: 8px;
  }
}

.filled {
  background: variables.$bright-color;
  color: variables.$white-color;

  &:hover {
    background: variables.$hover-color;
  }
}

.text {
  color: variables.$link-color;
  border: 1px solid transparent;

  &:hover {
    color: variables.$hover-color;
    border: 1px solid variables.$hover-color;
  }
}
