@use '../../styles/partials/variables';
@use '../../styles/partials/mixins';

.button {
  @include mixins.auth-font(16px, 500, 24px);
  display: block;
  width: 100%;
  max-width: 376px;
  padding: 16px;
  background: variables.$bright-color;
  color: variables.$white-color;
  border: none;
  text-align: center;
  letter-spacing: -0.32px;
  font-feature-settings: 'salt' on;
  cursor: pointer;

  &:hover {
    background: variables.$hover-color;
  }
}
