@use '../../styles/partials/variables';
@use '../../styles/partials/mixins';

.button {
  display: flex;
  min-height: 38px;
  padding: 7px 16px;
  border-radius: 6px;
  background: variables.$bright-color;
  border: none;
  cursor: pointer;
}

.addItem {
  @include mixins.dashboard-font(14px, 500, 24px);
  display: block;
  height: 19px;
  position: relative;
  padding-left: 25px;
  text-align: left;
  color: variables.$white-color;

  &::before {
    content: '';
    width: 19px;
    height: 19px;
    position: absolute;
    left: 0;
    top: 2px;
    background: url(../../assets/icon-add.svg) no-repeat center;
  }
}
