@use '../../styles/partials/variables';
@use '../../styles/partials/mixins';

.error {
  @include mixins.auth-font(16px, 500, normal);
  color: variables.$error-color;
  text-align: center;
  margin-bottom: 30px;
}
