@mixin auth-font($size, $weight, $line-height) {
  font-family: Lexend;
  font-size: $size;
  font-style: normal;
  font-weight: $weight;
  line-height: $line-height;
}

@mixin dashboard-font($size, $weight, $line-height) {
  font-family: Nunito;
  font-size: $size;
  font-style: normal;
  font-weight: $weight;
  line-height: $line-height;
}

@mixin background-image($name, $format) {
  .#{$name}:before {
    background: url(../../assets/#{$name}.#{$format}) no-repeat center;
  }
}
