$black-color: #000;
$white-color: #fff;
$white-transparent-color: rgba(255, 255, 255, 0.8);
$bright-color: #7101ff;
$dark-color: #505e68;
$checkbox-color: #0101ff;
$placeholder-color: #909fa9;
$link-color: #2c343a;
$aside-background-color: #3f1e85;
$dashboard-background-color: #f8f8f8;
$modal-background-color: rgba(45, 42, 42, 0.4);
$button-background-color: #f3f5fa;
$light-border-color: #cad2d6;
$medium-border-color: #e4e7ed;
$dark-border-color: rgba(255, 255, 255, 0.08);
$hover-color: #3333ff;
$active-color: #4b259b;
$error-color: #da1b41;
$text-light-color: #9f9fb6;
$text-dark-color: #111112;
$text-medium-color: #3b4360;
$label-color: #afb7d3;
$shadow-color: rgba(0, 0, 0, 0.03);
