@use './partials/variables';
@use './partials/mixins';

.formContainer {
  margin-bottom: 8px;
}

.pageContainer {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: variables.$white-color;
  padding: 15px;
}

.smallColumn {
  width: 84px;
}

.oneColumn {
  width: calc(100% - 31px);
}

.threeColumns {
  width: calc(33.33% - 11px);
}

.fourColumns {
  width: calc(25% - 8px);
}

.fiveColumns {
  width: calc(20% - 23px);
}

.toolsWrapper {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.list {
  margin-bottom: 30px;
}

input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-clear-button {
  display: none;
}
