@use '../../styles/partials/variables';
@use '../../styles/partials/mixins';

.tableHeader {
  display: flex;
  padding: 0 12px;
  margin-bottom: 17px;

  &__title {
    @include mixins.dashboard-font(16px, 600, 24px);
    color: variables.$text-light-color;
    opacity: 0.6;
    text-transform: capitalize;
  }
}
