@use '../../../styles/partials/variables';
@use '../../../styles/partials/mixins';

.paginate {
  @include mixins.dashboard-font(16px, 700, 16px);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: variables.$bright-color;
}

.item {
  margin-right: 10px;
  cursor: pointer;
}

.break {
  pointer-events: none;
  margin-right: 10px;
  cursor: pointer;
}

.pageLink {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px 10px;
  border: 1px solid variables.$bright-color;
  border-radius: 6px;
}

.previous,
.next {
  cursor: pointer;
}

.previous {
  margin-right: 10px;
}

.disabled {
  color: variables.$text-light-color;
  cursor: default;
}

.active {
  background: variables.$bright-color;
  color: white;
  border-radius: 6px;
  cursor: default;
}
