@use '../../../../styles/partials/variables';
@use '../../../../styles/partials/mixins';

.layout {
  width: 100%;
  max-width: 376px;

  &__top {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    @include mixins.auth-font(20px, 700, 32px);
    color: variables.$black-color;
    text-align: center;
    font-feature-settings: 'salt' on;
    margin-bottom: 32px;
  }

  &__paragraph {
    @include mixins.auth-font(19px, 400, 32px);
    color: variables.$dark-color;
    font-feature-settings: 'salt' on;
    word-spacing: -0.7px;
    margin-bottom: 32px;
  }
}

.center {
  text-align: center;
}
