@use '../../styles/partials/variables';
@use '../../styles/partials/mixins';

.field {
  width: 100%;
  max-width: 376px;
  margin-bottom: 32px;

  &__label {
    @include mixins.auth-font(14px, 400, 24px);
    display: block;
    color: variables.$dark-color;
    font-feature-settings: 'salt' on;
    margin-bottom: 4px;
  }

  &__input {
    @include mixins.auth-font(15px, 400, 24px);
    width: 100%;
    height: 48px;
    padding: 11.2px 16px;
    border: 1px solid variables.$light-border-color;
    background: variables.$white-color;
    color: variables.$black-color;
    font-feature-settings: 'salt' on;

    &::placeholder {
      @include mixins.auth-font(15px, 400, 24px);
      color: variables.$placeholder-color;
      font-feature-settings: 'salt' on;
    }

    &:not(:placeholder-shown) {
      border: 1px solid variables.$dark-color;
    }
  }

  &__error {
    @include mixins.auth-font(12px, 400, normal);
    color: variables.$error-color;
    margin-top: 5px;
  }
}

.error:not(:placeholder-shown),
.error {
  border-color: variables.$error-color;
}
