@use '../../styles/partials/variables';
@use '../../styles/partials/mixins';

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: variables.$modal-background-color;

  &__window {
    position: absolute;
    width: 595px;
    padding: 86px 20px;
    display: flex;
    flex-direction: column;
    background: white;
    align-items: center;
    min-height: 400px;
    max-height: 100vh;
    overflow-y: auto;
  }

  &__content {
    width: 100%;
    max-width: 376px;
  }

  &__cross {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
  }

  &__title {
    @include mixins.auth-font(20px, 700, 32px);
    color: variables.$black-color;
    text-align: center;
    font-feature-settings: 'salt' on;
    margin-bottom: 32px;
  }
}
