@use '../../../../styles/partials/variables';
@use '../../../../styles/partials/mixins';

.dashboard {
  display: flex;

  &__aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 260px;
    min-height: 100vh;
    background: variables.$aside-background-color;
    padding: 14px 0 20px;
  }

  &__asideTop {
    padding-left: 31px;
    padding-bottom: 14px;
    border-bottom: 1px solid variables.$dark-border-color;
  }

  &__logo {
    width: 42px;
    height: 43px;
  }

  &__logoImage {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__nav {
    padding-top: 20px;
  }

  &__link {
    @include mixins.dashboard-font(14px, 500, 140%);
    display: block;
    color: variables.$white-transparent-color;
    border-left: 4px solid transparent;
    padding: 16.5px 20px 16.5px 28px;
    text-decoration: none;

    &:hover {
      background: variables.$hover-color;
    }
  }

  &__linkText {
    display: block;
    position: relative;
    padding-left: 30px;

    &::before {
      content: '';
      width: 18px;
      height: 18px;
      position: absolute;
      left: 0;
      opacity: 0.8;
    }
  }

  &__logoutButton {
    @include mixins.dashboard-font(16px, 500, 140%);
    display: block;
    width: 260px;
    padding: 17px 32px;
    border: none;
    background: none;
    color: variables.$white-color;
    cursor: pointer;

    &:hover {
      background: variables.$hover-color;
    }
  }

  &__logoutItem {
    display: block;
    position: relative;
    padding-left: 30px;
    text-align: left;

    &::before {
      content: '';
      width: 18px;
      height: 18px;
      position: absolute;
      left: 0;
      top: 2px;
      opacity: 0.8;
      background: url(../../../../assets/icon-logout.svg) no-repeat center;
    }
  }

  &__main {
    width: calc(100% - 260px);
  }

  &__mainContent {
    min-height: calc(100% - 72.8px);
    background: variables.$dashboard-background-color;
    padding: 20px 40px;
  }
}

.active {
  background: variables.$active-color;
  border-left: 4px solid variables.$white-color;
  color: variables.$white-color;

  .dashboard__linkText::before {
    opacity: 1;
  }

  &:hover {
    background: variables.$active-color;
    border-left: 4px solid variables.$white-color;
    cursor: auto;
  }
}

$dashboard-icon-backgrounds: 'icon-course', 'icon-lector', 'icon-group',
  'icon-student';

@each $dashboard-icon-background in $dashboard-icon-backgrounds {
  @include mixins.background-image($dashboard-icon-background, svg);
}
