@use '../../styles/partials/variables';
@use '../../styles/partials/mixins';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 72px;
  padding: 14.5px 32px;

  &__logo {
    width: 42px;
    height: 43px;
  }

  &__logoImage {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__title {
    @include mixins.dashboard-font(24px, 700, 24px);
    color: variables.$text-dark-color;
  }

  &__avatarWrapper {
    width: 32px;
    height: 32px;
  }

  &__avatar {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50px;
  }
}

.gray {
  border-bottom: 1px solid #dee0e5;
  background: variables.$dashboard-background-color;
  padding-left: 42px;
}
