@use '../../../styles/partials/variables';
@use '../../../styles/partials/mixins';

.select {
  margin-bottom: 32px;

  &__label {
    @include mixins.auth-font(14px, 400, 24px);
    display: block;
    color: variables.$dark-color;
    font-feature-settings: 'salt' on;
    margin-bottom: 4px;
  }
}
