@use '../../styles/partials/variables';
@use '../../styles/partials/mixins';

.checkbox {
  padding: 2px;
  margin-bottom: 30px;

  &__input {
    position: absolute;
    z-index: -1;
    opacity: 0;

    & + label::before {
      content: '';
      width: 20px;
      height: 20px;
      flex-shrink: 0;
      flex-grow: 0;
      background: variables.$white-color;
      border: 1px solid variables.$light-border-color;
      border-radius: 3px;
      margin-right: 19px;
    }

    &:checked + label::before {
      background: variables.$checkbox-color
        url(../../assets/checkbox_checked.svg) no-repeat center;
      border-color: variables.$checkbox-color;
      transition:
        background-color 0.5s ease-in-out,
        border 0.5s ease-in-out;
    }

    &:not(:checked) + label:hover::before {
      background: variables.$white-color;
      border: 1px solid variables.$hover-color;
    }
  }

  &__label {
    @include mixins.auth-font(14px, 500, 20px);
    display: inline-flex;
    color: variables.$dark-color;
    font-feature-settings:
      'dlig' on,
      'salt' on;
    cursor: pointer;
  }
}
