@use '../../styles/partials/variables';
@use '../../styles/partials/mixins';

.student {
  &__main {
    max-width: 832px;
    margin: 0 auto 125px;
  }

  &__form {
    display: flex;
  }

  &__leftContent {
    width: 376px;
    margin-right: 80px;
  }

  &__rightContent {
    width: 376px;
  }

  &__title {
    @include mixins.auth-font(20px, 700, 32px);
    color: variables.$black-color;
    font-feature-settings: 'salt' on;
    margin-bottom: 32px;
  }

  &__uploaderContent {
    display: flex;
    margin-bottom: 32px;
  }

  &__imageWrapper {
    width: 168px;
    height: 168px;
    border-radius: 168px;
    margin-right: 40px;
  }

  &__image {
    display: block;
    width: 100%;
    background-size: cover;
  }

  &__uploaderText {
    @include mixins.auth-font(14px, 400, 24px);
    max-width: 176px;
    color: variables.$dark-color;
    font-feature-settings: 'salt' on;
    letter-spacing: -0.32px;
  }

  &__replaceButton {
    @include mixins.auth-font(13px, 500, 16px);
    width: 168px;
    height: 40px;
    padding: 12px 60px 12px 58px;
    background: variables.$button-background-color;
    color: variables.$black-color;
    text-align: center;
    font-feature-settings: 'salt' on;
    letter-spacing: -0.26px;
    border: none;
    cursor: pointer;
    margin-bottom: 56px;
  }

  &__headerWrapper {
    margin-bottom: 75px;
  }

  &__backButton {
    position: absolute;
    top: 135px;
    left: 32px;
    border: none;
    background: none;
    padding: 16px 48.5px;
    cursor: pointer;
  }

  &__buttonItem {
    @include mixins.auth-font(16px, 500, 24px);
    position: relative;
    color: variables.$black-color;
    font-feature-settings: 'salt' on;
    letter-spacing: -0.32px;
    padding-left: 32px;

    &:before {
      content: '';
      width: 24px;
      height: 24px;
      position: absolute;
      left: 0;
      top: -1px;
      background: url(../../assets/icon-arrow.svg) no-repeat center;
    }
  }
}

.select {
  margin-bottom: 32px;

  &__label {
    @include mixins.auth-font(14px, 400, 24px);
    display: block;
    color: variables.$dark-color;
    font-feature-settings: 'salt' on;
    margin-bottom: 4px;
  }
}
